.container{
    display: flex;
    justify-content: space-around;
}

.c1{
    background-color: red;
    width: 300px;
}


.c2{
    background-color: aqua;
    margin: 0;
}


.c3{
    background-color: green;
}
